.App {
  font-family: 'Open Sans';
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 20px;
  padding: 30px;
  color: white;
  font-size: 20px;
  text-align: left;
}

.App-intro {
  font-size: large;
}

.Select {
  width: 100%;
}

.wide {
  width:100%;
}

.pad-sides {
  padding-right: 50px;
  padding-left: 50px;
}

.inventory-table-heading {
  background-color: gray!important;
  color: white!important;
  font-weight: bold;
  margin-bottom: 1.5px;
  margin-top: 2px;
}

.inventory-table-row {
  max-height: 30px;
  margin-bottom: -4px;
  background-color: black!important;
  color: white!important;
}

.subtable-body {
  background-color: white;
  max-width: 1000px;
}

.requesttable {
  margin-left: 16px;
  max-width: 100%;
  border-left: solid;
  border-width: 4px;
  border-color: rgba(0,150,255,1);
}

.col-xs-12 {
  margin-left: 20px;
  margin-right: 50px;
}

.maintable-body {
  background-color: white;
  max-width: 1000px;
  border-left: solid;
  border-width: 4px;
  border-color: rgba(0,150,255,1);
}

.log-table {
  background-color: white;
  border-left: solid;
  border-width: 4px;
  border-color: rgba(0,150,255,1);
  color: gray;
}

.white-space-cell {
  display: none;
}
.maintable-container {
  width: 100%;
  margin-left: 15px;
  overflow-y: scroll;
}

.table-container {
  margin-top: 200px;
}

.request-page-section {
  margin-left: 30px;
}

.subtable-row {
  text-align: left;
  color: gray;
  font-size: 13px;
  font-weight: bold;
}

.panel-font {
  font-size: 13px;
  font-weight: bold;
}

.panel-group {
  margin: 0;
}

.main-container {
  padding-top: 80px;
}

.modal-title{
  font-size: 18px;
  font-weight:bold;
}

.modal-body {
  text-align: left;
}

.info-modal {
  margin-top: -50px;
}

.request-button {
  font-weight: bold;
  font-size: 13px;
  height: 40px;
  width: 45px;
  margin-left: 23px;
}

.delete-button {
  font-family: 'Open Sans';
  font-weight: bold;
  height: 40px;
  width: 45px;
  margin-left: 9px;
}

.edit-button {
  font-weight: bold;
  height: 40px;
  width: 45px;
  margin-left: 16px;
}

.info-button {
  margin-top: 1px;
}

.add-button {
  position: relative;
  font-weight: bold;
  font-size: 13px;
}

.request-quantity {
  width: 99.8%;
  margin-left: 0px;
}

.request-subtable {
  max-width: 100%;
}

.info-icon {
  position: absolute;
  right: 0;
  margin: 28px;
  margin-top: 0;
}

.user-info {
  height: 300px;
  max-width: 200px;
  margin-left: 20px;
  border: none;
  border-left: solid;
  border-color: rgba(0,150,255,1);
  border-width: 4px;

}

.login-form {
  margin: 50px;
  margin-left: 90px;
  width: 300px;
  font-family: 'Open Sans';
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.active {
    background-color: #4CAF50;
}

.center-text {
  width: 100%;
  text-align: center;
}

.signout-button {
  position: absolute;
  right: 6%;
}

.navbar-brand {
  font-weight: bold;
  font-size: 15px;
}

.nav-link {
  font-size: 14px;
  margin-top: 2px;
  margin-bottom: 2px;
}

.navbar {
  border-left: solid;
  border-width: 4px;
  border-color: rgba(0,150,255,1);
}

.pagenum-textbox {
  width: 50px;
  margin-left: 5px;
  margin-right: 5px;
}

.detail-view {
  min-width: 43%;
  min-height: 325px;
}

.detail-view-title {
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 20px;
}

.btn {
  font-weight: bold;
}

.modal-backdrop {
  opacity: 0.2!important;
}

.detail-view {
  margin-top: 200px;
}

.rowcount-dropdown {
  height: 175px;
  overflow-y: scroll;
}

.page-dropdown {
  max-height: 175px;
  overflow-y: scroll;
}

.card-block {
  margin-left: 20px;
  margin-right: 20px;
}

.cart-item {
  width: 400px;
  margin-top: 5px;
  margin-bottom: 5px;
  color: gray;
  font-weight: bold;
  font-size: 13px;
}

.cart-modal {
  color: gray;
  width: 86.5%;
}

.filterbox {
  width: 310px;
  margin-left: 20px;
  margin-right: 0;
  margin-bottom: 30px;
  border: none;
  border-left: solid;
  border-width: 4px;
  border-color: rgba(0,150,255,1);
}

.inventory-page {
  margin-top:10px;
  margin-right: 20px;
}

.modal-body.padded {
  margin-top: 30px;
}

.confirmation-popup {
  padding-top: 200px;
}

.confirmation-dialog {
  width: 400px;
  font-size: 15px;
  font-weight: normal;
}

.alert {
  margin-left: 10px;
}

.request-detail-title {
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.add-to-cart {
  margin-top: 40%;
}

.add-to-cart-icon {
  margin-left: -60%;
  margin-right: 50%;
}

.perpage-button {
  width: 170px;
}

.cart-checkbox {
  margin-left: 2%;
}

.cart-quantity-box {
  width: 30%;
  height: 22px;
  font-size: 100%;
}

.cart-quantity-label {
  margin-top: 0.2%;
  margin-right: 2%;
}

.cart-update-button {
  margin-top: 1.5%;
}

.user-select-box {
  margin-bottom: 2.5%;
  margin-top: 0.5%;
}

.description {
  float: left;
  padding-left: 0.3%;
  color: black;
}

.table > tbody > tr > td {
  vertical-align: middle;
}

.table > thead > tr > th {
  vertical-align: middle;
}

body {
    background-color: rgba(0,0,0,0.3);
}

button {
    font-family: 'Open Sans';
    font-weight: bold;
    font-size: 13px;
    padding: 8px 16px;
}
