.App {
  font-family: 'Open Sans';
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 20px;
  padding: 30px;
  color: white;
  font-size: 20px;
  text-align: left;
}

.App-intro {
  font-size: large;
}

.wide {
  width:100%;
}

.pad-sides {
  padding-right: 50px;
  padding-left: 50px;
}

.inventory-table-heading {
  background-color: gray!important;
  color: white!important;
  font-weight: bold;
  margin-bottom: 1.5px;
  margin-top: 2px;
}

.inventory-table-row {
  max-height: 30px;
  margin-bottom: -4px;
  background-color: black!important;
  color: white!important;
}

.subtable-body {
  background-color: white;
  max-width: 1000px;
}

.maintable-body {
  background-color: white;
  max-width: 1000px;
  border-left: solid;
  border-width: 4px;
  border-color: rgba(0,150,255,1);
}

.maintable-container {
  max-height: 550px;
  width: 1500px;
  margin-left: 20px;
  overflow-y: scroll;
}

.page-section {
  margin-left: -10px;
}

.subtable-row {
  max-width:50px;
  text-align: left;
  color: gray;
  font-size: 13px;
  font-weight: bold;
}

.panel-font {
  font-size: 13px;
  font-weight: bold;
}

.panel-group {
  margin: 0;
}

.main-container {
  padding-top: 80px;
}

.modal-title{
  font-size: 18px;
  font-weight:bold;
}

.modal-body {
  text-align: left;
  margin: 0;
}

.request-button {
  font-family: 'Open Sans';
  font-weight: bold;
  font-size: 13px;
  margin-left: 80px;
}

.delete-button {
  font-family: 'Open Sans';
  font-weight: bold;
  font-size: 13px;
  margin-left: -23px;
}

.add-button {
  position: relative;
  font-family: 'Open Sans';
  font-weight: bold;
  font-size: 13px;
  margin-top: -10px;
  margin-bottom: -5px;
  margin-right: -50px;
  margin-left: -40px;
}

.edit-button {
  font-family: 'Open Sans';
  font-weight: bold;
  font-size: 13px;
  margin-left: -40px;
}

.info-button {
  margin-top: 3px;
  width:30px;
  margin-left: -24px;
  margin-right: -80px;
}

.request-quantity {
  width: 200px;
  margin-left: 10px;
}

.request-subtable {
  width: 380px;
}

.info-icon {
  position: absolute;
  right: 0;
  margin: 28px;
  margin-top: 0;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.active {
    background-color: #4CAF50;
}

.center-text {
  width: 100%;
  text-align: center;
}

.signout-button {
  position: absolute;
  right: 6%;
}

.navbar-brand {
  font-weight: bold;
  font-size: 15px;
}

.nav-link {
  font-size: 14px;
  margin-top: 2px;
  margin-bottom: 2px;
}

.navbar {
  border-left: solid;
  border-width: 4px;
  border-color: rgba(0,150,255,1);
}

.pagenum-textbox {
  width: 50px;
  margin-left: 5px;
  margin-right: 5px;
}

.detail-view {
  min-height: 325px;
}

.detail-view-title {
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 20px;
}

.btn {
  font-weight: bold;
}

.modal-backdrop {
  opacity: 0.2!important;
}

.detail-view {
  margin-top: 200px;
}

.rowcount-dropdown {
  height: 175px;
  overflow-y: scroll;
}

.card {
  width: 300px;
}

.card-block {
  margin-left: 20px;
  margin-right: 20px;
}

.filterbox {
  margin-left: 20px;
  margin-right: 0;
  border: none;
  border-left: solid;
  border-width: 4px;
  border-color: rgba(0,150,255,1);
}

.inventory-page {
  margin-top:10px;
  margin-right: 80px;
  margin-left: 20px;
}

body {
    background-color: rgba(0,0,0,0.3);
}

button {
    font-family: 'Open Sans';
    font-weight: bold;
    font-size: 13px;
    padding: 8px 16px;
}
